<!doctype html>
<html class="no-js" lang="{{ site.lang }}">

<head>
  {% block headMeta %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  <title>
    {% block title %}
     {{ title }}
    {% endblock %}
  </title>

  {% block headMisc %}
  {% endblock %}

  {% block headStyles %}
  {% endblock %}

  {% block headScripts %}
  {% endblock %}
</head>

<body>
  {% block body %}
  {% endblock %}

  {% block bodyScripts %}
  {% endblock %}
</body>

</html>
