<footer class="o-footer-services">
	<div class="o-footer-services__container">
			<div class="o-footer-services__wrapper o-footer-services__wrapper--top">
				<a class="o-footer-services__icon-link o-footer-services__icon-link--github" href="http://github.com/financial-times/polyfill-service">View project on GitHub</a>
			</div>
		</div>
	<div class="o-footer-services__container">
		<div class="o-footer-services__wrapper o-footer-services__wrapper--legal">
			<div class="o-footer-services__links">
				<a href="/v3/terms">Terms &amp; Conditions</a>
				<a href="/v3/privacy-policy">Privacy Policy</a>
			</div>
			<p>
				<span>&#xA9; The Financial Times Ltd, Jonathan Neal and other <a href="https://github.com/Financial-Times/polyfill-service/graphs/contributors">contributors</a></span>
				FT and &apos;Financial Times&apos; are trademarks of The Financial Times Ltd.
			</p>
		</div>
	</div>
</footer>
