<footer class="o-footer-services o-footer-services--wide o-layout__footer">
	<div class="o-footer-services__container">
		<div class="o-footer-services__base">
			<p class="o-footer-services__source-code">
				<a href="https://github.com/financial-times/polyfill-service">View project on GitHub</a>
			</p>
			<p class="o-footer-services__copyright">© Jonathan Neal, The Financial Times Ltd and other
				<a href="https://github.com/Financial-Times/polyfill-service/graphs/contributors">contributors</a>. FT and 'Financial Times' are trademarks of The Financial Times Ltd.</p>
		</div>
	</div>
</footer>