<header class="o-header-services" data-o-component="o-header" data-o-header--js="">
	<div class="o-header-services__top o-header-services__container">
		<div class="o-header-services__hamburger">
			<a class="o-header-services__hamburger-icon" aria-controls="o-header-drawer" href="#o-header-drawer" role="button" data-o-toggle--js="true"
				aria-expanded="false">
				<span class="o-header__visually-hidden">Menu</span>
			</a>
		</div>
		<div class="o-header-services__ftlogo header-module--logo--U17LV">
			<svg class="logo" viewBox="0 0 326 226" xmlns="http://www.w3.org/2000/svg">
				<g>
					<path fill="#ccc" d="M0 0h72.4v226.8H0zM84.6 0H157v226.8H84.7zM169.2 0h72.5v226.8h-72.5zM254 0h72.3v226.8H254z"></path>
					<path fill="#0A95C7" d="M0 0h72.4v139H0zM84.6 0H157v92.6H84.7zM169.2 0h72.5v46.3h-72.5z"></path>
				</g>
			</svg>
		</div>
		<div class="o-header-services__title">
			<h1 class="o-header-services__product-name">
				<a href="/v3">Polyfill.io</a>
			</h1>
		</div>
		<div class="o-header-services__related-content">
			<a class="o-header-services__related-content-link" href="/v3/terms">Terms and Conditions</a>
			<a class="o-header-services__related-content-link" href="/v3/privacy-policy">Privacy Policy</a>
		</div>
	</div>
	<div class="o-header-services__primary-nav">
		<div class="o-header-services__container">
			<ul class="o-header-services__nav-list">
				<li class="o-header-services__nav-item">
					<a class="o-header-services__nav-link" href="/v3/url-builder">Create a polyfill bundle</a>
				</li>
				<li class="o-header-services__nav-item">
					<a class="o-header-services__nav-link" href="/v3/supported-browsers">Supported Browsers</a>
				</li>
				<li class="o-header-services__nav-item">
					<a class="o-header-services__nav-link" href="/v3/api">API Reference</a>
				</li>
				<li class="o-header-services__nav-item">
					<a class="o-header-services__nav-link" href="/v3/report-a-bug">Report A Bug</a>
				</li>
			</ul>
		</div>
	</div>
</header>
<div class="o-header__drawer--services o-header__drawer o--if-js" id="o-header-drawer" data-o-header-drawer="" aria-hidden="true"
	tabindex="-1" data-o-header-drawer--js="true">
	<div class="o-header__drawer-inner">
		<div class="o-header__drawer-tools">
			<span>Polyfill.io</span>
			<button type="button" class="o-header__drawer-tools-close" aria-controls="o-header-drawer" tabindex="-1"
				data-o-toggle--js="true" aria-expanded="false">
				<span class="o-header__visually-hidden">Close</span>
			</button>
		</div>
		<nav class="o-header__drawer-menu o-header__drawer-menu--primary" aria-label="Primary navigation">
			<ul class="o-header__drawer-menu-list">
				<li class="o-header__drawer-menu-item">
					<a class="o-header__drawer-menu-link" href="/v3/url-builder" tabindex="-1">Create a polyfill bundle</a>
				</li>
				<li class="o-header__drawer-menu-item">
					<a class="o-header__drawer-menu-link" href="/v3/supported-browsers" tabindex="-1">Supported Browsers</a>
				</li>
				<li class="o-header__drawer-menu-item">
					<a class="o-header__drawer-menu-link" href="/v3/api" tabindex="-1">API Reference</a>
				</li>
				<li class="o-header__drawer-menu-item">
					<a class="o-header__drawer-menu-link" href="/v3/report-a-bug" tabindex="-1">Report A Bug</a>
				</li>
			</ul>
		</nav>
		<nav class="o-header__drawer-menu o-header__drawer-menu--user" aria-label="User navigation">
			<ul class="o-header__drawer-menu-list">
				<li class="o-header__drawer-menu-item">
					<a class="o-header__drawer-menu-link" href="/v3/terms" tabindex="-1">Terms and Conditions</a>
				</li>
				<li class="o-header__drawer-menu-item">
					<a class="o-header__drawer-menu-link" href="/v3/privacy-policy" tabindex="-1">Privacy Policy</a>
				</li>
			</ul>
		</nav>
	</div>
</div>