<header class="o-header-services " data-o-component="o-header-services">
	<div class="o-header-services__top">
			<div class="o-header-services__hamburger">
				<a class="o-header-services__hamburger-icon" href="#" role="button">
					<span class="o-header-services__visually-hidden">Open primary navigation</span>
				</a>
			</div>
		<div class="o-header-services__logo"></div>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="/v3">Polyfill.io</a>
		</div>
		<ul class="o-header-services__related-content">
			<li>
				<a href="/v3/terms">Terms and Conditions</a>
			</li>
			<li>
				<a href="/v3/privacy-policy">Privacy Policy</a>
			</li>
		</ul>
	</div>

	<nav class="o-header-services__primary-nav" aria-label="primary">
		<ul class="o-header-services__primary-nav-list">
			<li>
				<a href="/v3/url-builder" {{#urlBuilder}} aria-current="true" {{/urlBuilder}}>Create a polyfill bundle</a>
			</li>
			<li>
				<a href="/v3/supported-browsers">Supported Browsers</a>
			</li>
			<li>
				<a href="/v3/api">API Reference</a>
			</li>
			<li>
				<a href="/v3/report-a-bug">Report A Bug</a>
			</li>
		</ul>
	</nav>
</header>
