{% extends "extends/html5boilerplate.njk" %}

{% set title = (title + " - " + site.title) if title else (site.title) %}
{% set description = (description) if description else (site.description) %}
{% set lang = lang | default(site.lang) %}
{% set oLayoutStyle = oLayoutStyle | default(site.oLayoutStyle) %}

{% block headStyles %}
    {% include "partials/styles.njk" %}
{% endblock %}

{% block headMisc %}
{% endblock %}

{% block body %}
    {{ super() }}
     <div class="o-layout {{ oLayoutStyle }}" data-o-component="o-layout">
        {% include "partials/header.njk" %}
        {{ content | safe }}
        {% include "partials/footer.njk" %}
    </div>
{% endblock %}

{% block bodyScripts %}
    {% include "partials/scripts.njk" %}
{% endblock %}