* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

.hero-header {
	background: #0A0A35;
	padding: 60px 0;
	text-align: center;
	color: white;
	border-bottom: 5px solid #2e6e9e;
	margin-bottom: 25px;
}
.hero-header h1 {
	font-weight: normal;
	font-size: 39px;
}
.logo {
	width: 80px;
	vertical-align: middle;
	margin-right: 10px;
}
.o-header .logo {
	width: 40px;
}

.lead {
	font-size: 20px;
}

.showcase {
	display: flex;
	flex-direction: row;
	margin: 40px 0;
}
.showcase > div {
	flex: 1 0 35%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.showcase > .showcase__media {
	flex: 1 1 65%;
	margin-left: 60px;
	background: #eee;
	border: 1px solid #ddd !important;
	border-radius: 2px !important;
}
.showcase--right > .showcase__desc {
	order: 2;
}
.showcase--right > .showcase__media {
	order: 1;
	margin-right: 60px;
	margin-left: 0;
}
@media (max-width: 700px) {
	.showcase {
		display: block;
	}
	.showcase > .showcase__media {
		margin: 0;
	}
}



.demo {
	width: 100%;
	height: 90px;
	max-height: 90px;
	border: 1px dotted #999;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling:touch;
	padding: 10px;
	font-family: monospace;
	font-size: 11px;
	box-sizing: border-box;
	white-space: pre-wrap;
}

table {
	width: 100%;
}

.compatibility h3 {
	margin: 0;
	font-size: 15px;
}
.compatibility .feature-meta {
	font-size: 12px;
	list-style-type: none;
	margin: 3px 0 0 0;
	padding: 0;
}
.compatibility .feature-meta li {
	margin-right: 6px;
	display: inline-block;
}
.compatibility tr.has-notes td {
	border-bottom: none;
}
.compatibility__data, .compatibility__live {
    display: none;
    vertical-align: top;
}
.compatibility--data .compatibility__data {
    display: table-cell;
}
.compatibility--live .compatibility__live {
    display: table-cell;
}
.compat_icon {
	display: none;
}
@media (max-width: 700px) {
	.compat_name { display: none; }
	.compat_icon { display: inline; }
}

.testFrame {
	visibility: hidden;
}

[class^='status'],div[class*=' status']{
	padding: 1px 4px;
	display: inline-block;
	font-size: 80%;
	border-radius: 3px;
	margin-right: 2px;
}
.status-polyfilled {
	background-color: #2BA5FC;
	color: white;
	border: 1px dashed white;
	font-weight: bold;
}
.status-native {
	background-color: #6FFF9D;
	border: 1px solid #999;
}
.status-missing {
	background-color: #ECECEC;
	color: #aaa;
	font-style: italic;
}
.notes {
	display: none;
}
.notes-toggle {
	cursor: pointer;
	color: #2e6e9e;
}
.show-notes + .notes {
	display: table-row;
}
.show-notes .notes-toggle {
	color: red;
}

.enhanced #chart-requests, .enhanced #chart-hitratio {
	width: 100%;
	height: 200px;
}
.enhanced .chart-data {
	display: none;
}

.outages {
	width: 100%;
}
.outages tr th,
.outages tr td {
	padding: 5px;
}

pre.bigcode code {
	font-size: 150%;
}

.apidoc td,
.apidoc th {
	vertical-align: top;
}
.apidoc td :first-child,
.apidoc th :first-child {
	margin-top: 0;
}

.versionlist code:not(:last-child):after {
	content: ", ";
}

.o-overlay-trigger {
	cursor: pointer;
}
.hover-menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.hover-menu a {
	display: block;
	font-size: 13px;
	text-decoration: none;
	color: black;
	padding: 5px;
}
.hover-menu a:hover {
	background-color: #f0f0f0;
}

.license a {
	color: green;
	font-weight: bold;
}
.license-proprietary a {
	color: #a50000;
	font-weight: bold;
}

.notes td {
	padding-top: 0 !important;
}
.notes ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 12px;
	line-height: 14px;
	color: #777;
}
.notes td p {
	padding: 0;
	margin: 0;
}

.rum-perf-data__count, .rum-perf-data__total {
	text-align: right !important;
}
.rum-perf-data__nettimeline {
	width: 70%;
}
.nettimeline__container {
	line-height: 0;
	margin-bottom: 1px;
}
.nettimeline {
	height: 15px;
	overflow: hidden;
	display: inline-block;
}
.nettimeline--smaller {
	height: 8px;
}
.nettimeline--dns {
	background-color: #328073;
}
.nettimeline--connect {
	background-color: #ef8b26;
}
.nettimeline--req {
	background-color: #4cb442;
}
.nettimeline--resp {
	background-color: #3299ec;
}
