polyfills/_ArrayIterator
polyfills/Array/of
polyfills/Array/prototype/values
polyfills/atob
polyfills/AudioContext
polyfills/fetch
polyfills/Function/prototype/bind
polyfills/HTMLPictureElement
polyfills/IntersectionObserver
polyfills/Intl
polyfills/JSON
polyfills/navigator/sendBeacon
polyfills/Promise
polyfills/setImmediate
polyfills/URL
polyfills/UserTiming
polyfills/WeakSet
polyfills/~html5-elements
tasks/**/node_modules