/node_modules
/npm-debug.log
/newrelic_agent.log
/polyfills/__dist
/polyfills/aliases.json
/test/results
/.env.json
/.env
/.service.pid
/.haikro-cache
/node-*
.DS_Store
/polyfills/HTMLPictureElement/polyfill.js
/polyfills/IntersectionObserver/polyfill.js
/polyfills/Intl/polyfill.js
/polyfills/Intl/~locale

polyfills/Promise/polyfill.js

polyfills/AudioContext/polyfill.js
