/node_modules
/npm-debug.log
/newrelic_agent.log
/polyfills/__repo
/polyfills/__versions
/polyfills/__dist
/polyfills/aliases.json
/test/results
/.env.json
/.service.pid
/.haikro-cache
/node-*
.DS_Store
