<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
	<title>
		{{#if title}}
			{{title}}
		{{else}}
			Polyfill.io
		{{/if}}
	</title>
	<link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <div class="o-layout {{#if modifier}} {{modifier}} {{else}} o-layout--docs {{/if}}" data-o-component="o-layout">
      <div class="o-layout__header">
        {{> header }}
      </div>

      {{{ body }}}

      <footer class="o-layout__footer">
        {{> footer }}
      </footer>
    </div>

    <script defer async src="/static/main.js"></script>
  </body>
</html>
