// @import url("https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-header-services%402.2.2%2Co-fonts%40%5E3.0.0%2Co-normalise%40%5E1.0.0%2Co-footer-services%40%5E1.0.2&brand=internal");
$o-brand: 'internal';
$polyfill-logo: "./images/data.svg";

$o-normalise-is-silent: false;
@import 'o-normalise/main.scss';
$o-footer-services-is-silent: false;
@import 'o-footer-services/main.scss';
$o-forms-is-silent: false;
@import 'o-forms/main.scss';
$o-syntax-highlight-is-silent: false;
@import 'o-syntax-highlight/main.scss';
$o-tabs-is-silent: false;
@import 'o-tabs/main.scss';
$o-tooltip-is-silent: false;
@import 'o-tooltip/main.scss';

@import 'o-header-services/main';
@include oHeaderServices($opts:  (
	'types': ('primary-nav'),
	'features': ('drop-down'),
	'logo': $polyfill-logo
));

@import 'o-layout/main';
@include oLayout();

@import 'o-table/main';
@include oTable($opts: 'stripes');

@import 'o-buttons/main';

.bundle-copy-button {
	@include oButtons($theme: 'mono');
}
.core .o--if-js,
.enhanced .o--if-no-js {
	display: none !important;
}

[aria-hidden=true] {
	display: none;
}

[data-o-component="o-tooltip"] {
	display: none;
}

.o-tabs__tabpanel {
	position: relative;

	button {
		position: absolute;
		right: 0;
		top: -1px;
		background: rgb(255, 255, 255);
	}

	pre {
		margin-top: 0;
	}
}

.extra-info {
	// start: undo button styles
	appearance: none;
	background: none;
	color: inherit;
	border: 0;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	// end: undo button styles
	text-align: right;
	display: block;
	float: right;
}

.o-tooltip .o-tooltip-content {
	hyphens: unset;
	white-space: nowrap;

	> :last-child {
		margin-bottom: 8px;
	}
}
