<div class="o-layout__sidebar">
	<ol class="o-layout__navigation" role="navigation">
		<li>
			<a href="#request">Basic</a>
		</li>
		<li>
			<a href="#response">Features</a>
		</li>
		<li>
			<a href="#response">Aliases</a>
		</li>
		<li>
			<a href="#response">Flags</a>
		</li>
		<li>
			<a href="#response">Version</a>
		</li>
		<li>
			<a href="#response">Callback</a>
		</li>
	</ol>
</div>
<div class="o-layout__main" data-o-component="o-syntax-highlight">
	<h1>Basic</h1>
	<div>
		<p>The simplest use: consider default polyfills, bundle, minify and and return those which are required by the current browser:</p>
		<pre><code>&lt;script src="https://cdn.polyfill.io/v2/polyfill.min.js">&lt;/script></code></pre>
		<p>This example is minified by including <code>.min</code> in the URL. All the other examples on this page are not minified, so you can see the metadata included at the top of the response, but any response can be minified by adding <code>.min</code> in the same way as shown above.</p>
	</div>
</div>