<div class="o-layout__hero o-layout-typography">
	<h1>Polyfill.io</h1>
	<p>POLYFILLS 4 LYFE</p>
</div>

<div class="o-layout__main o-layout-typography">
	<div class="o-layout__overview">
		<div class="o-layout-item">
			<h2>What is Polyfill.io?</h2>
			<p>
				It's a service which accepts a request for a set of browser features and returns only the polyfills that are
				needed by the requesting browser.
			</p>
		</div>
		<div class="o-layout-item">
			<h2>Why do I need it?</h2>
			<p>
				There are lots of differing browsers and browser versions in use throughout the world, each one has a slighly
				different set of features to the rest. This can make developing for browsers a difficult task. The latest
				versions of the popular browsers can do lots of things which older browsers can not – but you may still have
				to support the older browsers. Polyfill.io makes it simpler to support differing browsers by attempting to
				recreate the missing features with polyfills: You can make use of the latest and greatest features in browsers
				which support them, and in those that do not.
			</p>
		</div>
		{{#if fastly}}
			<div class="o-layout-item">
				<h2>Stats</h2>
				<p>
					From {{fastly.sevenDays.rollup.startDate}} to {{fastly.sevenDays.rollup.endDate}}, we have served
					{{fastly.sevenDays.rollup.requests}} requests. {{fastly.sevenDays.rollup.cache}}% of which were served
					from Fastly's global CDN cache.
				</p>
			</div>
		{{/if}}
	</div>
</div>
