<div  class="o-layout__heading o-layout-typography" data-o-component="o-syntax-highlight">
	<h6 class="bundle-heading">Your polyfill bundle:</h6>

	<ul data-o-component="o-tabs" class="o-tabs o-tabs--buttontabs o-layout__unstyled-element" role="tablist">
		<li role="tab" aria-selected="true"><a class="o-layout__unstyled-element" href="#url">URL</a></li>
		<li role="tab"><a class="o-layout__unstyled-element" href="#html">HTML</a></li>
	</ul>
	<div id="url" class="o-tabs__tabpanel">
		<button id="copy-url" class="copy-button">Copy URL to clipboard</button>
		<pre><code class="o-syntax-highlight--html bundle-box-code" id="polyfill-bundle-url">https://polyfill.io/v3/polyfill.min.js</code></pre>
	</div>
	<div id="html" class="o-tabs__tabpanel">
		<button id="copy-html" class="copy-button">Copy HTML to clipboard</button>
		<pre><code class="o-syntax-highlight--html bundle-box-code" id="polyfill-bundle-html">&lt;script crossorigin="anonymous" href="https://polyfill.io/v3/polyfill.min.js"&gt;&lt;/script&gt;</code></pre>
	</div>
</div>

<div class="o-layout__query-sidebar o-layout-typography">
	<div>
		<div class="o-forms">
			<label aria-describedby="filter-info" class="o-forms__label" for="filter">Filter polyfills</label>
			<div id="filter-info" class="o-forms__additional-info">Filter the polyfills in the "Avaliable Polyfills" list.</div>
			<input name="filter" id="filter" type="text" class="o-forms__text" placeholder="Type to filter by name">
		</div>
		<div class="o-forms">
			<label aria-describedby="callback-info" for="callback" class="o-forms__label">Callback</label>
			<div id="callback-info" class="o-forms__additional-info">Name of the function to call after the polyfills are loaded.</div>
			<input type="text" id="callback" class="o-forms__text" name="callback">
		</div>
		<fieldset class="o-forms">
			<legend aria-describedby="bundle-info" class="o-forms__label">Minify bundle</legend>
			<div id="bundle-info" class="o-forms__additional-info">Check the boxes of the polyfills you want to have in your bundle.</div>
			<div class="o-forms__group o-forms__group--inline-together">
				<input type="radio" name="minified" class="o-forms__radio-button" id="minified1" checked>
				<label for="minified1" aria-label="Minify bundle" class="o-forms__label">Yes</label>
				<input type="radio" name="minified" class="o-forms__radio-button o-forms__radio-button--negative" id="minified2">
				<label for="minified2" aria-label="Do not minify bundle" class="o-forms__label">No</label>
			</div>
		</fieldset>
		<fieldset class="o-forms">
			<legend aria-describedby="rum-info" class="o-forms__label">Real User Monitoring</legend>
			<div id="rum-info" class="o-forms__additional-info">Help us tune our browser targeting to better serve your particular users.</div>
			<div class="o-forms__group o-forms__group--inline-together">
				<input type="radio" name="rum" class="o-forms__radio-button" id="rum1">
				<label for="rum1" aria-label="Send real user metrics." class="o-forms__label">Yes</label>
				<input type="radio" name="rum" class="o-forms__radio-button o-forms__radio-button--negative" id="rum2" checked>
				<label for="rum2" aria-label="Do not send real user metrics." class="o-forms__label">No</label>
			</div>
		</fieldset>
		<fieldset class="o-forms">
			<legend aria-describedby="feature-info" class="o-forms__label">Feature Detects</legend>
			<div id="feature-info" class="o-forms__additional-info">Have every polyfill wrapped in a feature detect, which will only execute the polyfill if the native API is not present.</div>
			<div class="o-forms__group o-forms__group--inline-together">
				<input type="radio" name="gated" class="o-forms__radio-button" id="gated1">
				<label for="gated1" aria-label="Enable feature detects." class="o-forms__label">Yes</label>
				<input type="radio" name="gated" class="o-forms__radio-button o-forms__radio-button--negative" id="gated2" checked>
				<label for="gated2" aria-label="Disable feature detects." class="o-forms__label">No</label>
			</div>
		</fieldset>
		<fieldset class="o-forms">
			<legend aria-describedby="always-info" class="o-forms__label">Always load polyfills</legend>
			<div id="always-info" class="o-forms__additional-info">Have every polyfill be included regardless of whether it is required by the browser making the request.</div>
			<div class="o-forms__group o-forms__group--inline-together">
				<input type="radio" name="always" class="o-forms__radio-button" id="always1">
				<label for="always1" aria-label="Include every polyfill, regardless of the browser" class="o-forms__label">Yes</label>
				<input type="radio" name="always" class="o-forms__radio-button o-forms__radio-button--negative" id="always2" checked>
				<label for="always2" aria-label="Include only polyfills the requesting browser needs" class="o-forms__label">No</label>
			</div>
		</fieldset>
	</div>
</div>
<div class="o-layout__main o-layout-typography">
	<fieldset class="o-forms o-forms--wide">
		<legend aria-describedby="avaliable-polyfills-info" class="o-forms__label">Avaliable Polyfills</legend>
		<div id="avaliable-polyfills-info" class="o-forms__additional-info">Check the boxes of the polyfills or polyfill-sets you want to have in your bundle.</div>
		<div class="o-forms__group o-forms__group--inline" id="features-list">
		{{#each polyfills}}
			<div class="polyfill" data-feature-name="{{name}}">
				<input id="{{name}}" name="{{name}}" type="checkbox" class="o-forms__checkbox">
				<label class="o-forms__label" id="{{labelID}}" for="{{name}}">{{name}}</label>
				<button title="Links" id="{{name}}-tooltip-target" aria-label="More about {{name}} (opens tooltip)."></button>

				<div id="{{name}}-tooltip-element" data-o-component="o-tooltip" data-o-tooltip-position="right" data-o-tooltip-target="{{name}}-tooltip-target" data-o-tooltip-toggle-on-click="true">
					<div class="o-tooltip-content">
						<ul>
							<li class='license'><a title='This polyfill has a specific licence' href='https://choosealicense.com/licenses/{{licenseLowerCase}}'>License: {{license}}</a></li>
							{{#if spec}}<li><a href='{{spec}}'>Specification</a></li>{{/if}}
							{{#if docs}}<li><a href='{{docs}}'>Documentation</a></li>{{/if}}
							<li><a href='https://github.com/Financial-Times/polyfill-library/tree/master/polyfills/{{baseDir}}'>Polyfill source</a></li>
						</ul>
					</div>
				</div>
			</div>
		{{/each}}
		</div>
	</fieldset>
	<script defer async src="/static/polyfills.js"></script>
</div>
<div class="o-layout__aside-sidebar"></div>