---
layout: layouts/base.njk
---
<div class="o-layout__sidebar"></div>

<div class="o-layout__main o-layout-typography">

	<h1 id="new-chapter">New ownership of the polyfill service</h1>

	<p>After almost a decade supporting the polyfill service, the Financial Times has decided it can no longer continue to provide the support it needs. We have therefore made the decision to transfer ownership to <a href="https://jakechampion.name">Jake Champion</a> who, at FT and Fastly, has been the core maintainer for most of the polyfill service’s life. He will continue to support its development with the input of a community of other long-standing contributors. Hosting will continue to be provided free of charge by Fastly.</p>

	<h2 id="impact">What does this mean for you?</h2>

	<p>End users of the service should see no impact as a result of this change in ownership. Transfer of ownership is largely an administrative and legal step, and the infrastructure and codebases will experience minimal alterations with zero downtime. Examples of these changes include:</p>
	<ul>
		<li>Moving to new DNS name servers</li>
		<li>Relocating source code repositories</li>
	</ul>

	<p>We plan to transfer ownership on, or shortly after, 3rd July 2023. If you have any concerns please <a href="https://forms.gle/W5DGS4S7URLkTnFR9">use this form to contact us</a>. We cannot promise to respond to every enquiry but where appropriate we will share responses to common questions on this page.</p>

</div>
