---
layout: layouts/base.njk
---
<div class="o-layout__sidebar"></div>

<div class="o-layout__main o-layout-typography">
	<h1 id="#privacy-policy">
		Privacy Policy
	</h1>

	<p>
		The Financial Times provides premium news, insight and analysis to a
		growing audience of global decision makers. We have held true to our
		values of integrity, authority and independence for more than 130 years.
		Central to this mission is our commitment to upholding the highest
		standards of data protection for our customers.
	</p>
	<p>
		This Privacy Policy applies to the <a
		href="https://polyfill.io/">Polyfill.io</a> website (“<em>Site</em>”)
		and the public instance of the Polyfill Service made available by us, as
		described on the Site (“<em>Service</em>”). This Site and the Service
		are referred to together as “<a href="https://polyfill.io/"><em>Polyfill.io</em></a>”.
	</p>
	<p>
		We collect and use personal information in different ways for the Site
		and the Service. This Privacy Policy sets out details of these different
		ways in which we collect and use information.
	</p>

	<h2 id="what-information-do-we-collect-from-the-service">
		<strong>The Service:</strong> What information do we collect from the Service?
	</h2>

	<p>
		The Service is a hosted instance of software known as Polyfill Service.
		Polyfill Service provides snippets of code, called “polyfills”, that
		allows websites operated by FT and by others to provide a consistent
		experience across different browsers. When you load a web page which
		uses Polyfill Service, your browser will download any polyfills required
		in order to present the web page successfully in your browser.
	</p>
	<p>
		In order to provide the polyfills, the Service receives certain
		technical information from your browser including:
	</p>
	<ul>
		<li>browser details;</li>
		<li>connection details, such as your IP address, which can identify your approximate location and/or name of your ISP;</li>
		<li>the URL of the web page which has made the request to the Service. </li>
	</ul>
	<p>
		We use the above information to determine which polyfills are required
		by your browser. We do not retain this information.
	</p>
	<p>
		We may retain the following information:
	</p>
	<ul>
		<li>obfuscated IP addresses, this is an IP address with the last 3
		digits removed or masked in order to anonymise it;</li>
		<li>the domain of the web page which has made the request to the Service;</li>
		<li>the user agent string for your browser;</li>
		<li>the set of polyfills that were requested by the web page;</li>
		<li>the URL and HTTP method used to access the service.</li>
	</ul>
	<p>
		The information we retain cannot identify you. We retain it in order to
		identify which websites are using the Service and whether any websites
		are abusing the Service.
	</p>

	<h2 id="what-information-do-we-collect-from-the-users-of-this-site">
		<strong>The Site:</strong> What information do we collect from the users of this Site?
	</h2>

	<p>
		The information we collect about you if you are browsing this Site may
		include the following details relating to your visit to the Site:
	</p>
	<ul>
		<li>browser details;</li>
		<li>time and date of access;</li>
		<li>usage statistics, for example frequency and duration of use;</li>
		<li>connection details, for example which version of http was used and how long the connection took complete; and</li>
		<li>the details of the site from which you have linked to us.</li>
	</ul>
	<p>
		The information we retain cannot identify you.  We collect the above
		information about users of the Site for the following reasons:
	</p>
	<ul>
		<li>to help monitor and improve the Site;</li>
		<li>to help strategic development;</li>
		<li>to monitor compliance with the Polyfill.io Terms and Conditions; and</li>
		<li>to audit usage of the Site and demonstrate usage to third parties.</li>
	</ul>

	<h2 id="lawful-basis-for-processing">
		Lawful basis for processing
	</h2>

	<p>
		We only process personal information where we have a lawful basis for
		doing so.  We rely on legitimate business interests to process data
		relating to Polyfill.io, for example to monitor compliance with the
		Polyfill.io Terms and Conditions. We take due care to balance our
		interests against your right to privacy.
	</p>

	<h2 id="who-we-share-your-information-with">
		Who we share your information with
	</h2>
	<p>
		We may share your information with organisations that provide services
		on our behalf, such as those that host the Site or the Service, solely
		for the purposes of providing those services to us.
	</p>
	<p>
		We may also disclose your information to comply with applicable laws,
		court orders or other valid legal processes, and to enforce or apply the
		Polyfill.io Terms and Conditions or any of our other rights.
	</p>
	<p>
		Your information is an important asset of our businesses and, as such,
		we may transfer or disclose it to any successor (or potential successor)
		of any FT business, or any acquirer (or potential acquirer) of all or
		part of the assets of any FT business.
	</p>

	<h2 id="who-we-share-your-information-with">
		Who we share your information with
	</h2>
	<p>
		We may share your information with organisations that provide services
		on our behalf, such as those that host the Site or the Service, solely
		for the purposes of their providing those services to us.
	</p>
	<p>
		We may also disclose your information to comply with applicable laws,
		court orders or other valid legal processes, and to enforce or apply the
		<a href="/v3/terms">Polyfill.io Terms and Conditions</a> or any of our
		other rights.
	</p>
	<p>
		Your information is an important asset of our businesses and, as such,
		we may transfer or disclose it to any successor (or potential successor)
		of any FT business, or any acquirer (or potential acquirer) of all or
		part of the assets of any FT business.
	</p>

	<h2 id="how-long-we-retain-data-relating-to-polyfill.io">
		How long we retain data relating to Polyfill.io
	</h2>
	<p>
		We do not retain personal data relating to the Polyfill.io service.  The
		data that we do retain has been obfuscated or aggregated, for example,
		IP addresses have the last 3 digits masked once we have determined which
		polyfills are required by your browser.  We retain this non-personal
		information for 30 days.
	</p>

	<h2 id="how-we-keep-your-information-secure">
		How we keep your information secure
	</h2>
	<p>
		We have appropriate technical and administrative security measures in
		place to help ensure that individuals’ information is protected against
		unauthorised or accidental access, use, alteration, or loss.
	</p>
	<p>
		Your personal information may be processed and stored outside the
		European Economic Area (EEA).
	</p>

	<h2 id="your-rights">
		Your rights
	</h2>
	<p>
		We do not retain personal data relating to the Polyfill.io service.
	</p>
	<p>
		If you have any questions about the personal data processed as a result
		of your use of this service, please contact <a
		href="mailto:Privacy.Officer@ft.com">Privacy.Officer@ft.com</a>.
	</p>
	<p>
		You have the right to lodge a complaint with a supervisory authority. In
		the UK, this is the Information Commissioner’s Office (ICO).
	</p>

	<h2 id="where-this-privacy-policy-applies">
		Where this Privacy Policy applies
	</h2>
	<p>
		Personal information is collected by The Financial Times Limited.
		Polyfill.io is not intended for children under 16 years of age. We do
		not intentionally collect or use any information from children.
	</p>
	<p>
		Polyfill.io contains links to third party websites which are not subject
		to this privacy policy. Websites which use the polyfills are not subject
		to this privacy policy. We are not responsible for third party websites’
		content, use of personal information, or security practices.
	</p>
	<p>
		If you have a query in regards to the processing of your personal
		information, please contact our Data Protection Officer directly at <a
		href="mailto:Privacy.Officer@ft.com">Privacy.Officer@ft.com</a>.
	</p>

	<address>
		The Financial Times Ltd<br>
		Registered Office: Bracken House, 1 Friday Street, London, EC4M 9BT<br>
		Registered Number: 227590<br>
	</address>

	<h2 id="changes-to-this-privacy-policy">
		Changes to this privacy policy
	</h2>
	<p>
		This policy was reviewed on 20/01/2022 and last updated on 01/02/2022.
	</p>

	<p>
		Any changes we may make to this privacy policy will be posted on this
		page. If changes are significant, we may choose to indicate clearly on
		the <a href="https://polyfill.io">Polyfill.io</a> home page that the
		policy has been updated.
	</p>
</div>
