---
layout: layouts/base.njk
---
<div class="o-layout__main o-layout-typography">
	<h2>Supported Browsers</h2>
	<p>We support the following browsers:</p>
	<table class="o-table o-table--horizontal-lines o-layout__main__single-span" data-o-component="o-table">
		<thead>
			<tr>
				<th>Browser name</th>
				<th>Minimum supported version</th>
			</tr>
		</thead>
		<tbody>
			{% for item in browsers.supported %}
				<tr>
					<td>{{item.browser}}</td>
					<td>{{item.version}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
