---
layout: layouts/base.njk
oLayoutStyle: "o-layout--landing"
---
<div class="o-layout__hero o-layout-typography o-website__hero--home">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 470">
		<path fill="#d6d6d6" d="M0 42l108-23L83 0H0v42z">
			<animate attributeType="CSS" attributeName="fill" values="#d6d6d6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d6d6d6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f1f1f1" d="M83 0l25 19-4-19H83z">
			<animate attributeType="CSS" attributeName="fill" values="#f1f1f1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f1f1f1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e6e6e6" d="M104 0l4 19 6-8-4-11h-6zM0 42l108-23-27 95L0 59V42z">
			<animate attributeType="CSS" attributeName="fill" values="#e6e6e6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e6e6e6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e7e7e7" d="M0 59l81 55L0 76V59z">
			<animate attributeType="CSS" attributeName="fill" values="#e7e7e7;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e7e7e7" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ededed" d="M114 0v11l-4-11h4z">
			<animate attributeType="CSS" attributeName="fill" values="#ededed;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ededed" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ebebeb" d="M156 0l7 7-49 4V0h42z">
			<animate attributeType="CSS" attributeName="fill" values="#ebebeb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ebebeb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e9e9e9" d="M108 19l6-8 49-4z">
			<animate attributeType="CSS" attributeName="fill" values="#e9e9e9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e9e9e9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eaeaea" d="M81 114l27-95v79z">
			<animate attributeType="CSS" attributeName="fill" values="#eaeaea;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eaeaea" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e6e6e6" d="M174 93l-66 5V19z">
			<animate attributeType="CSS" attributeName="fill" values="#e6e6e6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e6e6e6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e3e3e3" d="M163 7l-7-7h10z">
			<animate attributeType="CSS" attributeName="fill" values="#e3e3e3;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e3e3e3" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f1f1f1" d="M108 19l55-12 53 67-42 19z">
			<animate attributeType="CSS" attributeName="fill" values="#f1f1f1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f1f1f1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e9e9e9" d="M216 97V74l-42 19z">
			<animate attributeType="CSS" attributeName="fill" values="#e9e9e9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e9e9e9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e4e4e4" d="M202 126l14-29-42-4z">
			<animate attributeType="CSS" attributeName="fill" values="#e4e4e4;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e4e4e4" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#efefef" d="M108 98l66-5-55 92z">
			<animate attributeType="CSS" attributeName="fill" values="#efefef;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#efefef" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e4e4e4" d="M81 114l27-16-27 54v-38z">
			<animate attributeType="CSS" attributeName="fill" values="#e4e4e4;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e4e4e4" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M119 185l-38-33 27-54z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ececec" d="M0 76l81 38-81 45V76z">
			<animate attributeType="CSS" attributeName="fill" values="#ececec;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ececec" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#efefef" d="M0 170l81-18v-38L0 159v11z">
			<animate attributeType="CSS" attributeName="fill" values="#efefef;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#efefef" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M174 93l-55 92 83-59z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f2f2f2" d="M245 211l-25-54-18-31-83 59 39 65z">
			<animate attributeType="CSS" attributeName="fill" values="#f2f2f2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f2f2f2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f1f1f1" d="M272 193l-28 18-24-54z">
			<animate attributeType="CSS" attributeName="fill" values="#f1f1f1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f1f1f1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f2f2f2" d="M296 240l-24-47-28 18z">
			<animate attributeType="CSS" attributeName="fill" values="#f2f2f2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f2f2f2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M243 125l-23 32 52 36z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ededed" d="M202 126l18 31 23-32z">
			<animate attributeType="CSS" attributeName="fill" values="#ededed;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ededed" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M216 97l-14 29 41-1z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M272 193l-29-68 123 53z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dcdcdc" d="M382 151l-139-26 123 53z">
			<animate attributeType="CSS" attributeName="fill" values="#dcdcdc;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dcdcdc" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eaeaea" d="M190 0l2 6-29 1 3-7h24z">
			<animate attributeType="CSS" attributeName="fill" values="#eaeaea;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eaeaea" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cacaca" d="M197 0l-5 6-2-6h7z">
			<animate attributeType="CSS" attributeName="fill" values="#cacaca;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cacaca" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f5f5f5" d="M216 74L192 6l-29 1z">
			<animate attributeType="CSS" attributeName="fill" values="#f5f5f5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f5f5f5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dfdfdf" d="M260 0l25 28-93-22 5-6h63z">
			<animate attributeType="CSS" attributeName="fill" values="#dfdfdf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dfdfdf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f1f1f1" d="M216 74l27 51-27-28V74z">
			<animate attributeType="CSS" attributeName="fill" values="#f1f1f1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f1f1f1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f1f1f1" d="M192 6l24 68 27 51 42-97z">
			<animate attributeType="CSS" attributeName="fill" values="#f1f1f1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f1f1f1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f2f2f2" d="M243 125l42-97 97 123z">
			<animate attributeType="CSS" attributeName="fill" values="#f2f2f2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f2f2f2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e2e2e2" d="M260 0l25 28 27-28h-52z">
			<animate attributeType="CSS" attributeName="fill" values="#e2e2e2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e2e2e2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f2f2f2" d="M81 152L0 224v-54z">
			<animate attributeType="CSS" attributeName="fill" values="#f2f2f2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f2f2f2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f4f4f4" d="M-34 317l34-49M0 268l81-116-81 72v44z">
			<animate attributeType="CSS" attributeName="fill" values="#f4f4f4;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f4f4f4" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f2f2f2" d="M81 152L6 259l113-74z">
			<animate attributeType="CSS" attributeName="fill" values="#f2f2f2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f2f2f2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M119 185L38 304 6 259z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e9e9e9" d="M151 261l6-11-38-65z">
			<animate attributeType="CSS" attributeName="fill" values="#e9e9e9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e9e9e9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M38 304l81-119 32 76z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dedede" d="M47 322l-9-18 113-43-28 79z">
			<animate attributeType="CSS" attributeName="fill" values="#dedede;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dedede" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ededed" d="M113 373l-66-51 76 18z">
			<animate attributeType="CSS" attributeName="fill" values="#ededed;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ededed" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M113 394v-21l-66-51z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f2f2f2" d="M38 304l9 18-47 36v-38z">
			<animate attributeType="CSS" attributeName="fill" values="#f2f2f2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f2f2f2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f0f0f0" d="M0 268l6-9 32 45-38 16v-52z">
			<animate attributeType="CSS" attributeName="fill" values="#f0f0f0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f0f0f0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e7e7e7" d="M0 390l113 4-66-72-47 36v32z">
			<animate attributeType="CSS" attributeName="fill" values="#e7e7e7;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e7e7e7" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dedede" d="M123 340l24 76-34-43z">
			<animate attributeType="CSS" attributeName="fill" values="#dedede;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dedede" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ddd" d="M113 394v-21l34 43z">
			<animate attributeType="CSS" attributeName="fill" values="#ddd;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ddd" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d5d5d5" d="M123 340l49-17-21-62z">
			<animate attributeType="CSS" attributeName="fill" values="#d5d5d5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d5d5d5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d6d6d6" d="M183 308l-11 15-21-62z">
			<animate attributeType="CSS" attributeName="fill" values="#d6d6d6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d6d6d6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d8d8d8" d="M197 266l-46-5 7-11z">
			<animate attributeType="CSS" attributeName="fill" values="#d8d8d8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d8d8d8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d5d5d5" d="M183 308l14-42-46-5z">
			<animate attributeType="CSS" attributeName="fill" values="#d5d5d5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d5d5d5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cbcbcb" d="M195 317l-12-9-11 15z">
			<animate attributeType="CSS" attributeName="fill" values="#cbcbcb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cbcbcb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cdcdcd" d="M197 266l-14 42 12 9z">
			<animate attributeType="CSS" attributeName="fill" values="#cdcdcd;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cdcdcd" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e0e0e0" d="M172 323l-49 17 24 76z">
			<animate attributeType="CSS" attributeName="fill" values="#e0e0e0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e0e0e0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d1d1d1" d="M209 325l-14-8-23 6z">
			<animate attributeType="CSS" attributeName="fill" values="#d1d1d1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d1d1d1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e6e6e6" d="M147 416l62-91-37-2z">
			<animate attributeType="CSS" attributeName="fill" values="#e6e6e6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e6e6e6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d0d0d0" d="M0 390l113 4-73 56-40-48v-12z">
			<animate attributeType="CSS" attributeName="fill" values="#d0d0d0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d0d0d0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d1d1d1" d="M0 470h58L0 403v67z">
			<animate attributeType="CSS" attributeName="fill" values="#d1d1d1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d1d1d1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d4d4d4" d="M76 470l37-76-73 56 18 20">
			<animate attributeType="CSS" attributeName="fill" values="#d4d4d4;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d4d4d4" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d5d5d5" d="M76 470l37-76 34 22-63 54">
			<animate attributeType="CSS" attributeName="fill" values="#d5d5d5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d5d5d5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ededed" d="M84 470l63-54v54H84z">
			<animate attributeType="CSS" attributeName="fill" values="#ededed;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ededed" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d6d6d6" d="M147 470v-54l28 54h-28z">
			<animate attributeType="CSS" attributeName="fill" values="#d6d6d6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d6d6d6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dcdcdc" d="M175 470l-28-54 63 48-3 6h-32z">
			<animate attributeType="CSS" attributeName="fill" values="#dcdcdc;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dcdcdc" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#b3b3b3" d="M212 470l-2-6-3 6h5z">
			<animate attributeType="CSS" attributeName="fill" values="#b3b3b3;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#b3b3b3" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#c1c1c1" d="M252 470l7-10-49 4 2 6h40z">
			<animate attributeType="CSS" attributeName="fill" values="#c1c1c1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#c1c1c1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d5d5d5" d="M237 444l-27 20-63-48z">
			<animate attributeType="CSS" attributeName="fill" values="#d5d5d5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d5d5d5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e2e2e2" d="M209 325l-62 91 90 28z">
			<animate attributeType="CSS" attributeName="fill" values="#e2e2e2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e2e2e2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d1d1d1" d="M195 317l45-20-31 28z">
			<animate attributeType="CSS" attributeName="fill" values="#d1d1d1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d1d1d1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#c6c6c6" d="M197 266l-2 51 45-20z">
			<animate attributeType="CSS" attributeName="fill" values="#c6c6c6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#c6c6c6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d5d5d5" d="M209 325l74-20-43-8z">
			<animate attributeType="CSS" attributeName="fill" values="#d5d5d5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d5d5d5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dbdbdb" d="M237 444l-28-119 74-20z">
			<animate attributeType="CSS" attributeName="fill" values="#dbdbdb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dbdbdb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cfcfcf" d="M259 460l-22-16-27 20z">
			<animate attributeType="CSS" attributeName="fill" values="#cfcfcf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cfcfcf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d3d3d3" d="M283 305l-24 155-22-16z">
			<animate attributeType="CSS" attributeName="fill" values="#d3d3d3;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d3d3d3" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e6e6e6" d="M252 470l7-10 9 10h-16z">
			<animate attributeType="CSS" attributeName="fill" values="#e6e6e6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e6e6e6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M197 266l48-55-87 39z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M240 297l-43-31 48-55z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f1f1f1" d="M296 240l-56 57 5-86z">
			<animate attributeType="CSS" attributeName="fill" values="#f1f1f1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f1f1f1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e9e9e9" d="M283 305l-44-8 57-57z">
			<animate attributeType="CSS" attributeName="fill" values="#e9e9e9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e9e9e9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d1d1d1" d="M259 460l117-22-93-133z">
			<animate attributeType="CSS" attributeName="fill" values="#d1d1d1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d1d1d1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f1f1f1" d="M345 225l-49 15-24-47z">
			<animate attributeType="CSS" attributeName="fill" values="#f1f1f1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f1f1f1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M283 305l13-65 49-15z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M366 178l-94 15 73 32z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M380 209l-35 16 20-47z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M382 151l-16 27 14 31z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e7e7e7" d="M285 28l27-28h36z">
			<animate attributeType="CSS" attributeName="fill" values="#e7e7e7;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e7e7e7" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ececec" d="M382 151L348 0l-63 28z">
			<animate attributeType="CSS" attributeName="fill" values="#ececec;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ececec" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d1d1d1" d="M394 0l-12 151L348 0h46z">
			<animate attributeType="CSS" attributeName="fill" values="#d1d1d1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d1d1d1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M421 0l98 44-137 107L394 0h27z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dfdfdf" d="M488 0l43 4-12 40-98-44h67z">
			<animate attributeType="CSS" attributeName="fill" values="#dfdfdf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dfdfdf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M382 151L519 44l-33 178z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e6e6e6" d="M380 209l106 13-104-71z">
			<animate attributeType="CSS" attributeName="fill" values="#e6e6e6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e6e6e6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ebebeb" d="M380 209l-35 16 102 29z">
			<animate attributeType="CSS" attributeName="fill" values="#ebebeb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ebebeb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M412 385l35-131-102-29z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M412 385l-129-80 62-80z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e6e6e6" d="M376 438l36-53-129-80z">
			<animate attributeType="CSS" attributeName="fill" values="#e6e6e6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e6e6e6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d9d9d9" d="M268 470l-9-10 117-22-13 32h-95z">
			<animate attributeType="CSS" attributeName="fill" values="#d9d9d9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d9d9d9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f4f4f4" d="M412 385l-36 53 60-41z">
			<animate attributeType="CSS" attributeName="fill" values="#f4f4f4;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f4f4f4" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M447 254l-35 131 58-60z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f1f1f1" d="M470 325l-34 72-24-12z">
			<animate attributeType="CSS" attributeName="fill" values="#f1f1f1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f1f1f1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f2f2f2" d="M413 470l-37-32 60-41 2 73h-25z">
			<animate attributeType="CSS" attributeName="fill" values="#f2f2f2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f2f2f2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e0e0e0" d="M363 470l13-32 37 32z">
			<animate attributeType="CSS" attributeName="fill" values="#e0e0e0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e0e0e0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M533 382l-97 15 34-72z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d0d0d0" d="M531 4l5-4h-48z">
			<animate attributeType="CSS" attributeName="fill" values="#d0d0d0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d0d0d0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e6e6e6" d="M519 44l32-37-20-3z">
			<animate attributeType="CSS" attributeName="fill" values="#e6e6e6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e6e6e6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M618 0l-67 7 67 25V0z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ebebeb" d="M585 81l33-49-67-25z">
			<animate attributeType="CSS" attributeName="fill" values="#ebebeb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ebebeb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eaeaea" d="M519 44l32-37 34 74z">
			<animate attributeType="CSS" attributeName="fill" values="#eaeaea;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eaeaea" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M486 222l99-141-66-37z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eaeaea" d="M597 201L585 80l-99 142z">
			<animate attributeType="CSS" attributeName="fill" values="#eaeaea;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eaeaea" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M654 19l-69 62 33-49z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d5d5d5" d="M618 0l36 19-36 13V0z">
			<animate attributeType="CSS" attributeName="fill" values="#d5d5d5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d5d5d5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eaeaea" d="M585 81l69-62 83 58z">
			<animate attributeType="CSS" attributeName="fill" values="#eaeaea;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eaeaea" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dedede" d="M714 7l-60 12 83 58z">
			<animate attributeType="CSS" attributeName="fill" values="#dedede;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dedede" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cacaca" d="M618 0l36 19-2-19h-34z">
			<animate attributeType="CSS" attributeName="fill" values="#cacaca;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cacaca" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dadada" d="M551 7l-20-3 5-4h82z">
			<animate attributeType="CSS" attributeName="fill" values="#dadada;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dadada" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#c9c9c9" d="M652 6l62 1-60 12z">
			<animate attributeType="CSS" attributeName="fill" values="#c9c9c9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#c9c9c9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d7d7d7" d="M790 40l-53 37-23-70z">
			<animate attributeType="CSS" attributeName="fill" values="#d7d7d7;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d7d7d7" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dbdbdb" d="M792 19l-2 21-76-33z">
			<animate attributeType="CSS" attributeName="fill" values="#dbdbdb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dbdbdb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#c1c1c1" d="M652 0v6l62 1-10-7h-52z">
			<animate attributeType="CSS" attributeName="fill" values="#c1c1c1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#c1c1c1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dbdbdb" d="M816 0l-24 19-78-12 22-7h80z">
			<animate attributeType="CSS" attributeName="fill" values="#dbdbdb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dbdbdb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#b9b9b9" d="M736 0l-22 7-10-7h32z">
			<animate attributeType="CSS" attributeName="fill" values="#b9b9b9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#b9b9b9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f1f1f1" d="M874 44l-82-25-2 21z">
			<animate attributeType="CSS" attributeName="fill" values="#f1f1f1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f1f1f1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M737 77l53-37-31 47z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e6e6e6" d="M800 71l-10-31-31 47z">
			<animate attributeType="CSS" attributeName="fill" values="#e6e6e6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e6e6e6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f0f0f0" d="M874 44l-74 27-10-31z">
			<animate attributeType="CSS" attributeName="fill" values="#f0f0f0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f0f0f0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M816 0l-24 19 82 25-13-44h-45z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dbdbdb" d="M884 0l-10 44-13-44h23z">
			<animate attributeType="CSS" attributeName="fill" values="#dbdbdb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dbdbdb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dedede" d="M956 55l-82-11 10-44z">
			<animate attributeType="CSS" attributeName="fill" values="#dedede;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dedede" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ececec" d="M938 85l-64-41 82 11z">
			<animate attributeType="CSS" attributeName="fill" values="#ececec;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ececec" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dfdfdf" d="M926 156L874 44l64 41z">
			<animate attributeType="CSS" attributeName="fill" values="#dfdfdf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dfdfdf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ebebeb" d="M865 186l9-142-74 27z">
			<animate attributeType="CSS" attributeName="fill" values="#ebebeb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ebebeb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M643 188L585 81l12 121z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f0f0f0" d="M737 77l-152 4 58 107z">
			<animate attributeType="CSS" attributeName="fill" values="#f0f0f0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f0f0f0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e2e2e2" d="M486 222l-106-13 67 35z">
			<animate attributeType="CSS" attributeName="fill" values="#e2e2e2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e2e2e2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dedede" d="M447 254v-10l-67-35z">
			<animate attributeType="CSS" attributeName="fill" values="#dedede;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dedede" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e2e2e2" d="M470 278l-23-24v-10z">
			<animate attributeType="CSS" attributeName="fill" values="#e2e2e2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e2e2e2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M486 222l-39 22 23 34z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e2e2e2" d="M496 311l-26 14-23-71 23 24z">
			<animate attributeType="CSS" attributeName="fill" values="#e2e2e2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e2e2e2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eaeaea" d="M570 254l-74 57-26-33z">
			<animate attributeType="CSS" attributeName="fill" values="#eaeaea;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eaeaea" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e5e5e5" d="M486 222l-16 56 100-24z">
			<animate attributeType="CSS" attributeName="fill" values="#e5e5e5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e5e5e5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d6d6d6" d="M597 201l-27 53-84-32z">
			<animate attributeType="CSS" attributeName="fill" values="#d6d6d6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d6d6d6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e3e3e3" d="M470 325l26-14 37 71z">
			<animate attributeType="CSS" attributeName="fill" values="#e3e3e3;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e3e3e3" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dcdcdc" d="M570 254l-74 57h118z">
			<animate attributeType="CSS" attributeName="fill" values="#dcdcdc;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dcdcdc" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e5e5e5" d="M609 346l5-35H496z">
			<animate attributeType="CSS" attributeName="fill" values="#e5e5e5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e5e5e5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eaeaea" d="M604 375l-71 7-37-71z">
			<animate attributeType="CSS" attributeName="fill" values="#eaeaea;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eaeaea" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ebebeb" d="M609 346l-5 29-108-64z">
			<animate attributeType="CSS" attributeName="fill" values="#ebebeb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ebebeb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ccc" d="M631 275l-61-21 27-53z">
			<animate attributeType="CSS" attributeName="fill" values="#ccc;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ccc" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d1d1d1" d="M643 188l-46 14 34 73z">
			<animate attributeType="CSS" attributeName="fill" values="#d1d1d1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d1d1d1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e4e4e4" d="M614 311l17-36-61-21z">
			<animate attributeType="CSS" attributeName="fill" values="#e4e4e4;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e4e4e4" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eaeaea" d="M656 290l-25-15 57-25z">
			<animate attributeType="CSS" attributeName="fill" values="#eaeaea;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eaeaea" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d6d6d6" d="M643 188l45 62-57 25z">
			<animate attributeType="CSS" attributeName="fill" values="#d6d6d6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d6d6d6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M614 311l-5 35 47-56z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M542 470l-9-88-97 15 80 73h26z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M438 470l-2-73 80 73h-78z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f0f0f0" d="M556 470l-23-88 9 88h14z">
			<animate attributeType="CSS" attributeName="fill" values="#f0f0f0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f0f0f0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ebebeb" d="M604 375l-71 7 23 88z">
			<animate attributeType="CSS" attributeName="fill" values="#ebebeb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ebebeb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e0e0e0" d="M631 275l-17 36 42-21z">
			<animate attributeType="CSS" attributeName="fill" values="#e0e0e0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e0e0e0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M692 378l-83-32 47-56z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M604 375l88 3-83-32z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e6e6e6" d="M704 438l-12-60-88-3z">
			<animate attributeType="CSS" attributeName="fill" values="#e6e6e6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e6e6e6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M556 470l48-95-2 95h-46z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e2e2e2" d="M602 470l2-95 100 63-58 32h-44z">
			<animate attributeType="CSS" attributeName="fill" values="#e2e2e2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e2e2e2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f2f2f2" d="M711 470l-19-92 29 49-2 43h-8z">
			<animate attributeType="CSS" attributeName="fill" values="#f2f2f2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f2f2f2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d8d8d8" d="M646 470l58-32 7 32h-65z">
			<animate attributeType="CSS" attributeName="fill" values="#d8d8d8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d8d8d8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ececec" d="M956 55L884 0h120z">
			<animate attributeType="CSS" attributeName="fill" values="#ececec;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ececec" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ececec" d="M1025 0l-19 100-50-45 48-55h21z">
			<animate attributeType="CSS" attributeName="fill" values="#ececec;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ececec" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f3f3f3" d="M938 85l23 36-35 35z">
			<animate attributeType="CSS" attributeName="fill" values="#f3f3f3;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f3f3f3" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e6e6e6" d="M865 186l61-30-52-112z">
			<animate attributeType="CSS" attributeName="fill" values="#e6e6e6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e6e6e6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dfdfdf" d="M883 221l-18-35 61-30z">
			<animate attributeType="CSS" attributeName="fill" values="#dfdfdf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dfdfdf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d0d0d0" d="M1035 246l-109-90 117 23z">
			<animate attributeType="CSS" attributeName="fill" values="#d0d0d0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d0d0d0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dbdbdb" d="M961 121l45-21 37 79z">
			<animate attributeType="CSS" attributeName="fill" values="#dbdbdb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dbdbdb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f4f4f4" d="M956 55l50 45-68-15z">
			<animate attributeType="CSS" attributeName="fill" values="#f4f4f4;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f4f4f4" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1043 179l-37-79 86-37z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M1093 0l29 14-30 50-42-64h43z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d8d8d8" d="M1025 0l-19 100 86-37-42-63h-25z">
			<animate attributeType="CSS" attributeName="fill" values="#d8d8d8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d8d8d8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1035 246l82-27-74-40z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M1120 186l-3 33-74-40z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ddd" d="M1141 212l-21-26-3 33z">
			<animate attributeType="CSS" attributeName="fill" values="#ddd;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ddd" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ebebeb" d="M1167 171l-47 15 21 26z">
			<animate attributeType="CSS" attributeName="fill" values="#ebebeb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ebebeb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eaeaea" d="M1174 230l-33-18-24 7z">
			<animate attributeType="CSS" attributeName="fill" values="#eaeaea;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eaeaea" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dedede" d="M1167 171l7 59-33-18z">
			<animate attributeType="CSS" attributeName="fill" values="#dedede;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dedede" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1120 186l40-54 7 38z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ebebeb" d="M1043 179l117-47-40 54z">
			<animate attributeType="CSS" attributeName="fill" values="#ebebeb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ebebeb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dfdfdf" d="M1092 63l68 69-117 47z">
			<animate attributeType="CSS" attributeName="fill" values="#dfdfdf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dfdfdf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f1f1f1" d="M1169 55l-77 8 68 69z">
			<animate attributeType="CSS" attributeName="fill" values="#f1f1f1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f1f1f1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1148 34l21 21-77 8z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M1122 14l-30 50 56-30z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eaeaea" d="M1093 0l29 14 22-14h-51">
			<animate attributeType="CSS" attributeName="fill" values="#eaeaea;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eaeaea" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M1180 0l-32 34-26-20 22-14h36z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#efefef" d="M1160 132l22-6-13-71z">
			<animate attributeType="CSS" attributeName="fill" values="#efefef;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#efefef" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dedede" d="M1167 171l25-15-32-24z">
			<animate attributeType="CSS" attributeName="fill" values="#dedede;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dedede" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dcdcdc" d="M1174 230l28-5-10-69-26 15z">
			<animate attributeType="CSS" attributeName="fill" values="#dcdcdc;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dcdcdc" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1182 126l10 30-32-24z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dfdfdf" d="M1291 94l-109 32 10 30z">
			<animate attributeType="CSS" attributeName="fill" values="#dfdfdf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dfdfdf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1169 55l13 71 109-32z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e4e4e4" d="M1148 34l89-20-68 41z">
			<animate attributeType="CSS" attributeName="fill" values="#e4e4e4;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e4e4e4" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ececec" d="M1291 94l-54-80-68 41z">
			<animate attributeType="CSS" attributeName="fill" values="#ececec;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ececec" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f0f0f0" d="M1304 25l-67-11 54 80z">
			<animate attributeType="CSS" attributeName="fill" values="#f0f0f0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f0f0f0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1414 44l-123 50 13-69z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M1424 24l-10 20-110-19z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d5d5d5" d="M1497 50l-83-6 10-20z">
			<animate attributeType="CSS" attributeName="fill" values="#d5d5d5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d5d5d5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e2e2e2" d="M1407 132l7-88-123 50z">
			<animate attributeType="CSS" attributeName="fill" values="#e2e2e2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e2e2e2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cacaca" d="M1367 151l-76-57 116 38z">
			<animate attributeType="CSS" attributeName="fill" values="#cacaca;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cacaca" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d5d5d5" d="M1318 156l-27-62 76 57z">
			<animate attributeType="CSS" attributeName="fill" values="#d5d5d5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d5d5d5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d5d5d5" d="M1192 156l99-62 27 62h-126z">
			<animate attributeType="CSS" attributeName="fill" values="#d5d5d5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d5d5d5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ddd" d="M1311 194l7-38h-126z">
			<animate attributeType="CSS" attributeName="fill" values="#ddd;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ddd" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1367 151l-56 42 7-37z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e0e0e0" d="M1417 0l7 24-120 1 34-25h79z">
			<animate attributeType="CSS" attributeName="fill" values="#e0e0e0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e0e0e0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cfcfcf" d="M1452 0l45 50-73-26 11-24h17z">
			<animate attributeType="CSS" attributeName="fill" values="#cfcfcf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cfcfcf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1417 0l7 24 11-24h-18z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ddd" d="M1452 0l45 50 34-50h-79z">
			<animate attributeType="CSS" attributeName="fill" values="#ddd;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ddd" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1570 0v34l-73 16 34-50h39z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f1f1f1" d="M1547 61l23-27-73 16z">
			<animate attributeType="CSS" attributeName="fill" values="#f1f1f1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f1f1f1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1554 132l-57-82 50 11z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M1407 132l90-82-37 125z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ddd" d="M1554 132l-94 43 37-125z">
			<animate attributeType="CSS" attributeName="fill" values="#ddd;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ddd" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#c8c8c8" d="M1539 204l-79-29 94-43z">
			<animate attributeType="CSS" attributeName="fill" values="#c8c8c8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#c8c8c8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dedede" d="M1547 61l7 71 19-36z">
			<animate attributeType="CSS" attributeName="fill" values="#dedede;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dedede" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e4e4e4" d="M1561 64l-14-3 26 36z">
			<animate attributeType="CSS" attributeName="fill" values="#e4e4e4;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e4e4e4" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M1570 34l-23 27 14 3z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ebebeb" d="M1573 97l-12-33 9-30z">
			<animate attributeType="CSS" attributeName="fill" values="#ebebeb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ebebeb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d9d9d9" d="M1554 132l19-36 7 82zm-15 72l41-26-26-46z">
			<animate attributeType="CSS" attributeName="fill" values="#d9d9d9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d9d9d9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1148 34l59-34h-27z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ececec" d="M1122 14l-30 50 56-30z">
			<animate attributeType="CSS" attributeName="fill" values="#ececec;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ececec" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M1224 0l13 14-89 20 59-34h17z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ececec" d="M1249 0l21 19-33-5 7-14h5z">
			<animate attributeType="CSS" attributeName="fill" values="#ececec;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ececec" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M1224 0l13 14 7-14h-20z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ebebeb" d="M1270 19l11-19h-32z">
			<animate attributeType="CSS" attributeName="fill" values="#ebebeb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ebebeb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f0f0f0" d="M1304 25l-2-25h36z">
			<animate attributeType="CSS" attributeName="fill" values="#f0f0f0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f0f0f0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M1281 0l-11 19 34 6-2-25h-21z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f1f1f1" d="M1570 34l30-34h-30v34z">
			<animate attributeType="CSS" attributeName="fill" values="#f1f1f1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f1f1f1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e9e9e9" d="M1573 97l27-7V51z">
			<animate attributeType="CSS" attributeName="fill" values="#e9e9e9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e9e9e9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M1570 34l3 63 27-46z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ccc" d="M1600 171l-20 7-7-81 27 19v55z">
			<animate attributeType="CSS" attributeName="fill" values="#ccc;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ccc" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#c5c5c5" d="M1600 90l-27 7 27 19V90z">
			<animate attributeType="CSS" attributeName="fill" values="#c5c5c5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#c5c5c5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d1d1d1" d="M1554 237l-15-33 41-26z">
			<animate attributeType="CSS" attributeName="fill" values="#d1d1d1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d1d1d1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#c9c9c9" d="M1475 249l-15-74 79 29z">
			<animate attributeType="CSS" attributeName="fill" values="#c9c9c9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#c9c9c9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#c9c9c9" d="M1441 259l19-84 15 74z">
			<animate attributeType="CSS" attributeName="fill" values="#c9c9c9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#c9c9c9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d8d8d8" d="M1382 240l78-65-19 84z">
			<animate attributeType="CSS" attributeName="fill" values="#d8d8d8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d8d8d8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M1367 151l15 89 78-65z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1407 132l-40 19 93 24z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ececec" d="M1414 44l-7 88 90-82zm156-10l30 17V0z">
			<animate attributeType="CSS" attributeName="fill" values="#ececec;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ececec" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#c6c6c6" d="M1600 189l-20-11-26 59 46-21v-27z">
			<animate attributeType="CSS" attributeName="fill" values="#c6c6c6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#c6c6c6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cfcfcf" d="M1475 249l79-12-15-33z">
			<animate attributeType="CSS" attributeName="fill" values="#cfcfcf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cfcfcf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ebebeb" d="M1584 290l-39-15 9-39z">
			<animate attributeType="CSS" attributeName="fill" values="#ebebeb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ebebeb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M1547 320l37-30-39-15z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cecece" d="M1481 276l-6-28-34 11z">
			<animate attributeType="CSS" attributeName="fill" values="#cecece;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cecece" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#bfbfbf" d="M1545 275l-64 1-6-28z">
			<animate attributeType="CSS" attributeName="fill" values="#bfbfbf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#bfbfbf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cacaca" d="M1554 237l-79 12 70 26z">
			<animate attributeType="CSS" attributeName="fill" values="#cacaca;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cacaca" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d3d3d3" d="M1623 206l-23 49M1600 255l-16 35-30-53 46-21v39z">
			<animate attributeType="CSS" attributeName="fill" values="#d3d3d3;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d3d3d3" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#b4b4b4" d="M1600 171l-20 7 20 11v-18z">
			<animate attributeType="CSS" attributeName="fill" values="#b4b4b4;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#b4b4b4" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cdcdcd" d="M1600 255l-16 35 16 19v-54z">
			<animate attributeType="CSS" attributeName="fill" values="#cdcdcd;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cdcdcd" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#efefef" d="M1564 333l-17-13 37-30z">
			<animate attributeType="CSS" attributeName="fill" values="#efefef;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#efefef" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M1441 259l12 137 28-120z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d5d5d5" d="M1547 320l-94 76 28-120z">
			<animate attributeType="CSS" attributeName="fill" values="#d5d5d5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d5d5d5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ccc" d="M1545 275l-64 1 66 44z">
			<animate attributeType="CSS" attributeName="fill" values="#ccc;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ccc" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dfdfdf" d="M1600 343l-36-10 20-43 16 19v34z">
			<animate attributeType="CSS" attributeName="fill" values="#dfdfdf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dfdfdf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e0e0e0" d="M1600 427l-8 9-28-103 36 10v84z">
			<animate attributeType="CSS" attributeName="fill" values="#e0e0e0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e0e0e0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d6d6d6" d="M1565 428l-1-95 28 103z">
			<animate attributeType="CSS" attributeName="fill" values="#d6d6d6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d6d6d6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ddd" d="M1547 320l18 108-1-95z">
			<animate attributeType="CSS" attributeName="fill" values="#ddd;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ddd" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e0e0e0" d="M1453 396l94-76 18 108z">
			<animate attributeType="CSS" attributeName="fill" values="#e0e0e0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e0e0e0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dedede" d="M1382 240l2 10-62 41z">
			<animate attributeType="CSS" attributeName="fill" values="#dedede;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dedede" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cdcdcd" d="M1441 259l-57-9-2-10z">
			<animate attributeType="CSS" attributeName="fill" values="#cdcdcd;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cdcdcd" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d0d0d0" d="M1453 396l-69-146 57 9z">
			<animate attributeType="CSS" attributeName="fill" values="#d0d0d0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d0d0d0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f1f1f1" d="M1322 291l62-41 69 146z">
			<animate attributeType="CSS" attributeName="fill" values="#f1f1f1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f1f1f1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e0e0e0" d="M1329 410l-7-119 131 105z">
			<animate attributeType="CSS" attributeName="fill" values="#e0e0e0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e0e0e0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e6e6e6" d="M1311 194l56-42 15 88zm-74 46l74-46 11 97z">
			<animate attributeType="CSS" attributeName="fill" values="#e6e6e6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e6e6e6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ededed" d="M1192 156l45 84 74-46z">
			<animate attributeType="CSS" attributeName="fill" values="#ededed;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ededed" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e9e9e9" d="M1202 225l35 15-45-84z">
			<animate attributeType="CSS" attributeName="fill" values="#e9e9e9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e9e9e9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#c8c8c8" d="M1589 470l3-34-27-8 13 42h10z">
			<animate attributeType="CSS" attributeName="fill" values="#c8c8c8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#c8c8c8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ccc" d="M1495 470l-20-5 90-37 13 42h-83z">
			<animate attributeType="CSS" attributeName="fill" values="#ccc;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ccc" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dbdbdb" d="M1453 396l22 69 90-37z">
			<animate attributeType="CSS" attributeName="fill" values="#dbdbdb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dbdbdb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d9d9d9" d="M1600 453l-8-17-3 34h11v-17">
			<animate attributeType="CSS" attributeName="fill" values="#d9d9d9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d9d9d9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d4d4d4" d="M1600 427l-8 9 8 17v-26z">
			<animate attributeType="CSS" attributeName="fill" values="#d4d4d4;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d4d4d4" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#c7c7c7" d="M1495 470l-20-5-4 5h24z">
			<animate attributeType="CSS" attributeName="fill" values="#c7c7c7;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#c7c7c7" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d6d6d6" d="M1428 470l-12-32 59 27-4 5h-43z">
			<animate attributeType="CSS" attributeName="fill" values="#d6d6d6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d6d6d6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ebebeb" d="M1453 396l-37 42 59 27z">
			<animate attributeType="CSS" attributeName="fill" values="#ebebeb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ebebeb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e2e2e2" d="M1380 470l36-32 12 32h-48z">
			<animate attributeType="CSS" attributeName="fill" values="#e2e2e2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e2e2e2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e7e7e7" d="M1329 410l87 28 37-42z">
			<animate attributeType="CSS" attributeName="fill" values="#e7e7e7;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e7e7e7" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e6e6e6" d="M1380 470l-51-60 87 28z">
			<animate attributeType="CSS" attributeName="fill" values="#e6e6e6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e6e6e6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d9d9d9" d="M1301 459l79 11-51-60z">
			<animate attributeType="CSS" attributeName="fill" values="#d9d9d9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d9d9d9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d1d1d1" d="M1270 396l59 14-7-119z">
			<animate attributeType="CSS" attributeName="fill" values="#d1d1d1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d1d1d1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dbdbdb" d="M1254 376l16 20 52-105z">
			<animate attributeType="CSS" attributeName="fill" values="#dbdbdb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dbdbdb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M1265 397l36 62-18 11z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dadada" d="M1254 376l11 21 5-1z">
			<animate attributeType="CSS" attributeName="fill" values="#dadada;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dadada" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dcdcdc" d="M1301 459l-36-62 5-1z">
			<animate attributeType="CSS" attributeName="fill" values="#dcdcdc;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dcdcdc" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1329 410l-28 49-31-63z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f0f0f0" d="M1380 470l-79-10-18 10z">
			<animate attributeType="CSS" attributeName="fill" values="#f0f0f0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f0f0f0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#c2c2c2" d="M1200 470l-30-65 109 65h-79z">
			<animate attributeType="CSS" attributeName="fill" values="#c2c2c2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#c2c2c2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d7d7d7" d="M1280 470l-109-65 94-8 18 73h-3z">
			<animate attributeType="CSS" attributeName="fill" values="#d7d7d7;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d7d7d7" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ddd" d="M1254 376l-84 29 95-8z">
			<animate attributeType="CSS" attributeName="fill" values="#ddd;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ddd" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e3e3e3" d="M1237 240l85 51-102 64z">
			<animate attributeType="CSS" attributeName="fill" values="#e3e3e3;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e3e3e3" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1254 376l-34-21 102-64z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ddd" d="M1171 405l49-50 34 21zM1179 327l41 28-50 50z">
			<animate attributeType="CSS" attributeName="fill" values="#ddd;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ddd" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e7e7e7" d="M1237 240l-58 87 41 28z">
			<animate attributeType="CSS" attributeName="fill" values="#e7e7e7;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e7e7e7" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f0f0f0" d="M1157 290l22 37 58-87z">
			<animate attributeType="CSS" attributeName="fill" values="#f0f0f0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f0f0f0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f1f1f1" d="M1136 237l21 53 80-50z">
			<animate attributeType="CSS" attributeName="fill" values="#f1f1f1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f1f1f1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f2f2f2" d="M1056 340l101-50-21-53z">
			<animate attributeType="CSS" attributeName="fill" values="#f2f2f2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f2f2f2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M1099 360l58-70-101 50z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e3e3e3" d="M1179 327l-80 33 58-70z">
			<animate attributeType="CSS" attributeName="fill" values="#e3e3e3;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e3e3e3" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d9d9d9" d="M1171 405l-72-45 80-33z">
			<animate attributeType="CSS" attributeName="fill" values="#d9d9d9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d9d9d9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d9d9d9" d="M1105 389l-6-29 72 45z">
			<animate attributeType="CSS" attributeName="fill" values="#d9d9d9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d9d9d9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e9e9e9" d="M1097 380l8 9-6-29z">
			<animate attributeType="CSS" attributeName="fill" values="#e9e9e9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e9e9e9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cdcdcd" d="M1056 340l41 40 2-20z">
			<animate attributeType="CSS" attributeName="fill" values="#cdcdcd;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cdcdcd" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#efefef" d="M1049 415l48-35-41-40z">
			<animate attributeType="CSS" attributeName="fill" values="#efefef;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#efefef" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e5e5e5" d="M1049 415l56-26-8-9z">
			<animate attributeType="CSS" attributeName="fill" values="#e5e5e5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e5e5e5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M1105 441v-52l-56 26z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d9d9d9" d="M1125 450l-20-61v52z">
			<animate attributeType="CSS" attributeName="fill" values="#d9d9d9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d9d9d9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e4e4e4" d="M1171 405l-46 45-20-61z">
			<animate attributeType="CSS" attributeName="fill" values="#e4e4e4;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e4e4e4" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d3d3d3" d="M1115 459l10-9-20-9z">
			<animate attributeType="CSS" attributeName="fill" values="#d3d3d3;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d3d3d3" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#c8c8c8" d="M1090 466l15-25 10 18z">
			<animate attributeType="CSS" attributeName="fill" values="#c8c8c8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#c8c8c8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dcdcdc" d="M1049 415l41 51 15-25z">
			<animate attributeType="CSS" attributeName="fill" values="#dcdcdc;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dcdcdc" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ddd" d="M1108 470l7-11-25 7 2 4h16z">
			<animate attributeType="CSS" attributeName="fill" values="#ddd;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ddd" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#bcbcbc" d="M1150 470l-25-20-10 9 19 11h16z">
			<animate attributeType="CSS" attributeName="fill" values="#bcbcbc;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#bcbcbc" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e3e3e3" d="M1200 470l-29-65-46 45 25 20h50z">
			<animate attributeType="CSS" attributeName="fill" values="#e3e3e3;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e3e3e3" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cacaca" d="M1134 470l-19-11-7 11h26z">
			<animate attributeType="CSS" attributeName="fill" values="#cacaca;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cacaca" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#bcbcbc" d="M1092 470l-2-4-8 4h10z">
			<animate attributeType="CSS" attributeName="fill" values="#bcbcbc;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#bcbcbc" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cacaca" d="M1053 470l-4-55 41 51-8 4h-29z">
			<animate attributeType="CSS" attributeName="fill" values="#cacaca;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cacaca" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#c3c3c3" d="M1048 470l-16-40 17-15 4 55h-5z">
			<animate attributeType="CSS" attributeName="fill" values="#c3c3c3;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#c3c3c3" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d3d3d3" d="M1011 357l21 73 17-15z">
			<animate attributeType="CSS" attributeName="fill" values="#d3d3d3;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d3d3d3" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1056 340l-45 17 38 58z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f1f1f1" d="M1136 237l-19-18-82 27z">
			<animate attributeType="CSS" attributeName="fill" values="#f1f1f1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f1f1f1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d9d9d9" d="M1056 340l80-103-101 9z">
			<animate attributeType="CSS" attributeName="fill" values="#d9d9d9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d9d9d9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e4e4e4" d="M883 221l43-65 109 90z">
			<animate attributeType="CSS" attributeName="fill" values="#e4e4e4;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e4e4e4" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1117 219l19 18 38-7z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dedede" d="M1035 246l-43 64 64 30z">
			<animate attributeType="CSS" attributeName="fill" values="#dedede;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dedede" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e9e9e9" d="M883 221l109 89 43-64z">
			<animate attributeType="CSS" attributeName="fill" values="#e9e9e9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e9e9e9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e2e2e2" d="M1311 194l11 97 60-51z">
			<animate attributeType="CSS" attributeName="fill" values="#e2e2e2;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e2e2e2" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#f0f0f0" d="M1202 225l-66 12 101 3z">
			<animate attributeType="CSS" attributeName="fill" values="#f0f0f0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#f0f0f0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M737 77l-94 111 127 4z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ebebeb" d="M759 87l-22-10 33 114z">
			<animate attributeType="CSS" attributeName="fill" values="#ebebeb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ebebeb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e0e0e0" d="M800 71l-30 120-11-104z">
			<animate attributeType="CSS" attributeName="fill" values="#e0e0e0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e0e0e0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M865 186l-95 5 30-120z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e7e7e7" d="M795 237l70-51-95 5zM883 221l-18-35-70 51z">
			<animate attributeType="CSS" attributeName="fill" values="#e7e7e7;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e7e7e7" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dfdfdf" d="M688 250l82-59-127-3z">
			<animate attributeType="CSS" attributeName="fill" values="#dfdfdf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dfdfdf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e6e6e6" d="M724 261l-36-11 82-59z">
			<animate attributeType="CSS" attributeName="fill" values="#e6e6e6;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e6e6e6" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dbdbdb" d="M795 237l-71 24 46-69z">
			<animate attributeType="CSS" attributeName="fill" values="#dbdbdb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dbdbdb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e7e7e7" d="M867 255l16-34-88 16z">
			<animate attributeType="CSS" attributeName="fill" values="#e7e7e7;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e7e7e7" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M854 264l13-9-72-18z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ebebeb" d="M821 270l33-6-59-27z">
			<animate attributeType="CSS" attributeName="fill" values="#ebebeb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ebebeb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dbdbdb" d="M772 287l23-50 26 33z">
			<animate attributeType="CSS" attributeName="fill" values="#dbdbdb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dbdbdb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d1d1d1" d="M724 261l71-24-23 50z">
			<animate attributeType="CSS" attributeName="fill" values="#d1d1d1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d1d1d1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M656 290l32-40 36 10z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e7e7e7" d="M692 378l32-117-68 29z">
			<animate attributeType="CSS" attributeName="fill" values="#e7e7e7;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e7e7e7" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e3e3e3" d="M772 287l-80 91 32-117z">
			<animate attributeType="CSS" attributeName="fill" values="#e3e3e3;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e3e3e3" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ebebeb" d="M821 270l-49 17 18 36z">
			<animate attributeType="CSS" attributeName="fill" values="#ebebeb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ebebeb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cfcfcf" d="M854 264l-64 59 31-53z">
			<animate attributeType="CSS" attributeName="fill" values="#cfcfcf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cfcfcf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e5e5e5" d="M883 221l-16 34 47 70z">
			<animate attributeType="CSS" attributeName="fill" values="#e5e5e5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e5e5e5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M992 310l-78 15-31-104z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#c4c4c4" d="M867 255l47 70-60-61z">
			<animate attributeType="CSS" attributeName="fill" values="#c4c4c4;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#c4c4c4" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dbdbdb" d="M790 323l124 2-60-61z">
			<animate attributeType="CSS" attributeName="fill" values="#dbdbdb;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dbdbdb" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#cacaca" d="M933 361l-19-36-124-2z">
			<animate attributeType="CSS" attributeName="fill" values="#cacaca;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#cacaca" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#ececec" d="M992 310l-59 51-19-36z">
			<animate attributeType="CSS" attributeName="fill" values="#ececec;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#ececec" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M970 352l-37 9 38 17z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M992 310l-22 42-37 9z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dcdcdc" d="M1011 357l-41-5 22-42z">
			<animate attributeType="CSS" attributeName="fill" values="#dcdcdc;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dcdcdc" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M971 378l40-21-41-5z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#b9b9b9" d="M987 393l24-36-40 21z">
			<animate attributeType="CSS" attributeName="fill" values="#b9b9b9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#b9b9b9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M1032 430l-30-25 9-48z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dfdfdf" d="M983 470l19-65-15-12-10 77h6z">
			<animate attributeType="CSS" attributeName="fill" values="#dfdfdf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dfdfdf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#bfbfbf" d="M1005 470l27-40-30-25-19 65h22z">
			<animate attributeType="CSS" attributeName="fill" values="#bfbfbf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#bfbfbf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#959595" d="M1048 470l-16-40-27 40h43z">
			<animate attributeType="CSS" attributeName="fill" values="#959595;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#959595" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#b9b9b9" d="M978 470l-7-92-38-17 38 109h6z">
			<animate attributeType="CSS" attributeName="fill" values="#b9b9b9;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#b9b9b9" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d5d5d5" d="M971 470l-38-109-46 109h84z">
			<animate attributeType="CSS" attributeName="fill" values="#d5d5d5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d5d5d5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d0d0d0" d="M778 470l12-147 143 38-136 109h-19z">
			<animate attributeType="CSS" attributeName="fill" values="#d0d0d0;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d0d0d0" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e3e3e3" d="M887 470l46-109-136 109h90z">
			<animate attributeType="CSS" attributeName="fill" values="#e3e3e3;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e3e3e3" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#dfdfdf" d="M719 470l3-44 36 44z">
			<animate attributeType="CSS" attributeName="fill" values="#dfdfdf;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#dfdfdf" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e8e8e8" d="M790 323l-98 55 29 49z">
			<animate attributeType="CSS" attributeName="fill" values="#e8e8e8;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e8e8e8" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e7e7e7" d="M772 287l18 36-98 55z">
			<animate attributeType="CSS" attributeName="fill" values="#e7e7e7;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e7e7e7" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M758 470l-37-43 69-104-12 147h-20z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d5d5d5" d="M1002 405l-15-12 24-36z">
			<animate attributeType="CSS" attributeName="fill" values="#d5d5d5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d5d5d5" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#e1e1e1" d="M992 310l19 47 45-17z">
			<animate attributeType="CSS" attributeName="fill" values="#e1e1e1;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#e1e1e1" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#eee" d="M961 121l-35 35 117 23-82-58zM938 85l68 15-45 21-23-36z">
			<animate attributeType="CSS" attributeName="fill" values="#eee;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#eee" begin="mouseenter" dur="1s"></animate>
		</path>
		<path fill="#d5d5d5" d="M971 378l16 15-9 77-7-92z">
			<animate attributeType="CSS" attributeName="fill" values="#d5d5d5;#cd5c5ccc;#ffd70080;#90ee9080;#7fffd480;#19197080;#483d8b80;#4b008280;#d5d5d5" begin="mouseenter" dur="1s"></animate>
		</path>
	</svg>
	<div class="o-website__hero--text">
		<h1>Polyfill.io</h1>
		<p>
			Upgrade the web. Automatically.
		</p>
	</div>
</div>

<div class="o-layout__main o-layout-typography">
	<div class="o-layout__overview">
		<div class="o-layout-item">
			<h2>What is Polyfill.io?</h2>
			<p>
				It's a service which accepts a request for a set of browser features and returns only the polyfills that are
				needed by the requesting browser.
			</p>
		</div>
		<div class="o-layout-item">
			<h2>Why do I need it?</h2>
			<p>
				There are lots of differing browsers and browser versions in use throughout the world, each one has a slightly
				different set of features to the rest. This can make developing for browsers a difficult task. The latest
				versions of the popular browsers can do lots of things which older browsers can not – but you may still have
				to support the older browsers. Polyfill.io makes it simpler to support differing browsers by attempting to
				recreate the missing features with polyfills: You can make use of the latest and greatest features in browsers
				which support them, and in those that do not.
			</p>
		</div>
	</div>
</div>
