---
layout: layouts/base.njk
---
<div class="o-layout__sidebar"></div>
<div class="o-layout__main o-layout-typography">
	<h1 id="packages">packages</h1>

	<h2 id="polyfill-library">polyfill-library</h2>
	<a href="https://www.npmjs.com/package/polyfill-library" class="o-typography-link o-typography-link--external"><img src="https://img.shields.io/npm/v/polyfill-library.svg"/></a>
	<p>
		This is the package which powers <a href="https://polyfill.io">polyfill.io</a>, it contains all the polyfills and the logic for creating a bundle of polyfills tailored to individual user-agents/browsers.
	</p>
	<h2 id="polyfill-library-node">polyfill-library-node</h2>
	<a href="https://www.npmjs.com/package/polyfill-library-node" class="o-typography-link o-typography-link--external"><img src="https://img.shields.io/npm/v/polyfill-library-node.svg"/></a>
	<p>
		An alternative to <a href="https://www.npmjs.com/package/core-js" class="o-typography-link o-typography-link--external">core-js</a> for <a href="https://nodejs.org/" class="o-typography-link o-typography-link--external">nodeJS</a> environments. Loads all <a href="https://tc39.es/ecma262/" class="o-typography-link o-typography-link--external">ECMAScript-262</a> (excluding <a href="https://tc39.es/ecma262/#sec-additional-ecmascript-features-for-web-browsers" class="o-typography-link o-typography-link--external">annex-B</a>) polyfills into nodeJS.
	</p>
	<p>
		You should use this if you are wanting to use the latest stable features of JavaScript but the version of nodeJS you are using does not have those features.
	</p>
	<h2 id="create-polyfill-service-url">create-polyfill-service-url</h2>
	<a href="https://www.npmjs.com/package/create-polyfill-service-url" class="o-typography-link o-typography-link--external"><img src="https://img.shields.io/npm/v/create-polyfill-service-url.svg"/></a>
	<p>
		A Node.js command-line application for analysing your JavaScript file and generating a <a href="https://polyfill.io">https://polyfill.io</a> URL based on all the features that are being used from within the JavaScript file.
	</p>

	
</div>