---
layout: layouts/base.njk
---
<div class="o-layout__sidebar"></div>
<div class="o-layout__main o-layout-typography">
	<h1 id="#terms-conditions">Terms and Conditions</h1>

	<h2 id="who-we-are-and-how-to-contact-us">Who we are and how to contact us</h2>
	<p>
		<a href="https://polyfill.io/" target="_self" rel="nofollow noopener">Polyfill.io</a> is operated as a community
		service by The Financial Times Limited (“we”, “us”). We are registered in England and Wales under company number
		00227590 and have our registered office (and main trading address) at Bracken House, 1 Friday Street, London, England, EC4M 9BT.
		Our VAT number is GB226162332.
	</p>

	<h2 id="by-using-polyfillio-you-agree-to-our-terms">By using Polyfill.io you agree to our terms</h2>
	<p>
		These terms apply to “<em>Polyfill.io</em>”, which means:
	</p>
	<ul>
		<li>
			the Polyfill.io website (“<em>Site</em>”); and/or
		</li>
		<li>
			the public instance of the Polyfill Service made available by us, as described on the Site.
		</li>
	</ul>
	<p>
		By using Polyfill.io you confirm that you accept these terms of use and that you agree to comply with them. If you
		do not agree to these terms, you must not use Polyfill.io.
	</p>
	<p>
		We recommend that you print or save a copy of these terms for future reference. <em>Please note that these terms contain
		provisions which limit or exclude our liability to you, in particular as set out in the section headed “Our responsibility
		for loss or damage suffered by you”.</em>
	</p>

	<h2 id="there-are-other-terms-that-may-apply-to-you">There are other terms that may apply to you</h2>
	<p>
		These terms of use refer to the following additional terms, which also apply to your use of Polyfill.io:
	</p>
	<ul>
		<li>The <a href="/v3/privacy-policy">Polyfill.io privacy policy</a>, which sets out the terms on which we process any
			personal data we collect from you or as a result of your use of Polyfill.io (including our logging of use of Polyfill.io).
			If you do not agree to the terms of that privacy policy then you must not use Polyfill.io, and you should consider hosting the
			<a href="https://github.com/Financial-Times/polyfill-service" target="_self" rel="nofollow noopener">Polyfill Service code</a> yourself.
		</li>
		<li>
			The <a href="https://help.ft.com/help/legal-privacy/cookies/" target="_self" rel="nofollow noopener">FT cookie policy</a>,
			which sets out information about the cookies on the Site.
		</li>
	</ul>

	<h2 id="polyfillio-are-provided-as-is-and-without-any-sla">Polyfill.io are provided as-is and without any SLA</h2>
	<p>
		Polyfill.io is made available free of charge.
	</p>
	<p>
		We do not guarantee that Polyfill.io, or any content on them, will always be available or be uninterrupted. We may
		suspend or withdraw or restrict the availability of all or any part of Polyfill.io for business and operational reasons.
	</p>
	<p>
		We do not provide any service level agreement or any other performance commitments for Polyfill.io. We are not able to
		participate in any technical due diligence or other procurement process that your organisation may have.
	</p>
	<p>
		If you require an SLA or guaranteed levels of resilience for Polyfill.io, then you are free to obtain your own copy of
		the Polyfill Service code from our <a href="https://github.com/Financial-Times/polyfill-service" target="_self" rel="nofollow noopener">GitHub repository</a>.
		The Polyfill Service code is licensed under the MIT License. You can then make your own arrangements for hosting.
	</p>

	<h2 id="do-not-rely-on-information-on-this-site">Do not rely on information on this site</h2>
	<p>
		The content on the Site is provided for general information only. It is not intended to amount to advice on which
		you should rely.
	</p>
	<p>
		Although we make reasonable efforts to update the information on Polyfill.io, we make no representations, warranties or
		guarantees, whether express or implied, that the content on Polyfill.io is accurate, complete or up to date.
	</p>

	<h2 id="our-responsibility-for-loss-or-damage-suffered-by-you">Our responsibility for loss or damage suffered by you</h2>
	<p>
		<em>
			We do not exclude or limit in any way our liability to you where it would be unlawful to do so. This includes
			liability for death or personal injury caused by our negligence or the negligence of our employees, agents or subcontractors
			and for fraud or fraudulent misrepresentation.
		</em>
	</p>
	<p>
		<em>We exclude all implied conditions, warranties, representations or other terms that may apply to Polyfill.io or any content on them.</em>
	</p>
	<p>
		<em>
			We will not be liable to you for any loss or damage, whether in contract, tort (including negligence), breach of
			statutory duty, or otherwise, even if foreseeable, arising under or in connection with:
		</em>
	</p>
	<ul>
		<li>
			<em>use of, or inability to use, Polyfill.io; or</em>
		</li>
		<li>
			<em>use of or reliance on any content displayed on Polyfill.io.</em>
		</li>
	</ul>
	<p>
		<em>In particular, we will not be liable for:</em>
	</p>
	<ul>
		<li>
			<em>loss of profits, sales, business, or revenue;</em>
		</li>
		<li>
			<em>business interruption;</em>
		</li>
		<li>
			<em>loss of anticipated savings;</em>
		</li>
		<li>
			<em>loss of business opportunity, goodwill or reputation; or</em>
		</li>
		<li>
			<em>any indirect or consequential loss or damage.</em>
		</li>
	</ul>
	<p>
		<em>
			By using Polyfill.io, you agree that the above exclusions of liability are reasonable. You accept that it is always possible
			for you to host your own copy of the <a href="https://github.com/Financial-Times/polyfill-service" target="_self" rel="nofollow noopener">Polyfill Service code</a>,
			and that your use of Polyfill.io is therefore entirely at your own risk.
		</em>
	</p>

	<h2 id="we-are-not-responsible-for-viruses-and-you-must-not-introduce-them">
		We are not responsible for viruses and you must not introduce them
	</h2>

	<p>We do not guarantee that Polyfill.io will be secure or free from bugs or viruses.</p>
	<p>
		You are responsible for configuring your information technology, computer programs and platform to access Polyfill.io.
		You should use your own virus protection software.
	</p>
	<p>
		You must not misuse Polyfill.io by knowingly introducing viruses, trojans, worms, logic bombs or other material that is
		malicious or technologically harmful. You must not attempt to gain unauthorised access to Polyfill.io, the server on
		which Polyfill.io are stored or any server, computer or database connected to Polyfill.io. You must not attack Polyfill.io
		via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a
		criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement
		authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach,
		your right to use Polyfill.io will cease immediately.
	</p>

	<h2 id="we-may-make-changes-to-these-terms">We may make changes to these terms</h2>
	<p>
		We amend these terms from time to time. You should check these terms regularly to ensure you understand the terms
		that apply at that time.
	</p>

	<h2 id="we-may-make-changes-to-polyfillio">We may make changes to Polyfill.io</h2>
	<p>
		We may update and change Polyfill.io from time to time. We will aim to post details of the most significant
		changes on the Site.
	</p>

	<h2 id="which-countrys-laws-apply-to-any-dispute">Which country’s laws apply to any dispute?</h2>
	<p>
		These terms of use, their subject matter and their formation (and any non-contractual disputes or claims) are
		governed by English law. You and we both agree to the exclusive jurisdiction of the courts of England and Wales.
	</p>
</div>