<script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=Array.from,Array.isArray,Array.prototype.entries,Array.prototype.filter,Array.prototype.forEach,Array.prototype.includes,Array.prototype.indexOf,Array.prototype.keys,Array.prototype.map,Array.prototype.reduce,ArrayBuffer,console,CustomEvent,document,Element,Function.prototype.bind,JSON,Map,Object.assign,Object.defineProperty,Object.entries,Object.getOwnPropertyDescriptor,Object.keys,Set,String.prototype.includes,String.prototype.trim,Symbol,Symbol.iterator,URLSearchParams,WeakMap,WeakSet"></script>
<script src="/js/index.js"></script>